            /*body*/
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.0001);
    padding-top: 63px;
    padding-bottom: 30px;
    }

            /*header*/

.header{
    display: flex;
    flex-direction: column;
    }

.header__logo-link{
    text-decoration: none;
    color:#4BCAFF;
    width: 334px;
    font-size: 80px;
    line-height: 94px;
    }

.logo__color-text{
    color:#000000;
    }

.header__nav{
    margin-top: 38px;
    width: 1280px;
    background: #35444F;
    }

.header__nav-list{
    display: flex;
    justify-content: center;
    }

.nav-list__item{
    display:flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    font-size: 24px;
    line-height: 28px;
    transition: 300ms ease-in-out;
    }

.nav-list__link{
    padding: 26px 35px 19px;
    text-decoration: none;
    color: white;
    }

.nav-list__link:hover{
    background: #222F3A;
    }

.nav-list__item{
    border-left: 1px solid  #FFFFFF;
    }

.nav-list__item:last-child{
    border-right: 1px solid  #FFFFFF;
    }

            /*main*/

.main-wrapper{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 48px;

    }

.main{
    width: 880px;
    }

.main__image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(99, 105, 110, 0.48);
    height: 529px;
}
.main-image{
    transition: 300ms ease-in-out;
}
.main-image:hover{
    scale: 1.1;
}

.main__text{
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align: left;
    }

.main__text:first-of-type{
    margin-top: 37px;
    }

.main__text:last-of-type{
    margin-top: 34px;
    }

            /*aside*/

.aside{
    border: 1px solid rgba(99, 105, 110, 0.48);
    display: flex;
    flex-direction: column;
    height: fit-content;
    }

.aside-list__item{
    list-style: none;
    }

.aside-list__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #35444F;
    font-size: 27px;
    padding-left: 42px;
    transition: 300ms ease-in-out;
    width: 344px;
    height: 81px;
    }

.aside-list__link:hover{
    background: #DBDBDB;
    color: black;
    padding-left: 82px;
    }

            /*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    padding: 20px 0 8px;
    }

.footer-list{
    display: flex;
    justify-content:space-between;
    width: 875px;
    list-style: none;
    font-size: 28px;
    margin-bottom:13px;
    }

.footer-list__item{
    padding-left: 40px;
    }

.footer-list__link{
    text-decoration: none;
    color: #010101;
    line-height: 35px;
    padding: 20px 0 13px 0;
    white-space: nowrap;
    transition: 300ms ease-in-out;
    }

.footer-list__link:hover{
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
    }

.footer__text{
    font-size: 24px;
    padding-right: 40px;
    color: #010101;
    margin-bottom: 13px;
    }